{% extends "_onecol.html" %}

{% block title %}SoHeal{% endblock %}

{% block body %}
<h2>Call for Talks</h2>

<p>
  <b>SoHeal</b> aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health.
</p>

<p>
  We invite talk proposal contributions (different submission deadline from the call for papers!), that need to be submitted through <a href="https://easychair.org/conferences/?conf=soheal2019">EasyChair</a> and will be peer-reviewed.
  All accepted contributions will be presented during the workshop, but talk proposal contributions <b>will not</b> be included in the proceedings.
</p>

<p>
  <b>Talk proposals</b> of 1 to 2 pages reporting on practitioner's or industrial experience will be considered
    for presentation during the workshop, on the basis of an abstract of the talk and the author's biography.
</p>

<p>
  Topics for contributions include but are not limited to:
    <ul>
      <li>social, technical and business aspects of software health</li>
      <li>software health at the individual, team or community level</li>
      <li>software health at the software project or ecosystem level</li>
      <li>open source vs. industrial experiences with software health</li>
      <li>software health definition and modelling</li>
      <li>software health measurement and assessment</li>
      <li>qualitative or quantitative studies about software health</li>
      <li>prediction or recommendation models to predict health issues or improve health</li>
      <li>software health tools and dashboards (e.g. for analytics and visualization)</li>
    </ul>
</p>

<h2>Important dates</h2>
<ul>
  <!--<li><b>Position paper submission deadline</b> 1 February, 2019</li>-->
  <li><b>Industry/practitioner talk proposal deadline</b> 15 February, 2019</li>
  <li><b>Notification of acceptance</b>: 1 March, 2019</li>
  <!--<li><b>Camera Ready of accepted position papers</b>: 15 March, 2019</li>-->
  <li><b>Workshop</b>: 28 May, 2019</li>
</ul>


<p>
  <a href="{{ "assets/docs/SoHeal2019CFT.pdf"|relative }} ">PDF version of the Call for talks</a>.
</p>
{% endblock %}
