{% extends "_onecol.html" %}

{% block title %}SoHeal{% endblock %}

{% block body %}
<h2>Call for Papers</h2>

<p>
  <b>SoHeal</b> aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health.
</p>

<p>
  We invite two types of contributions, that need to be submitted through <a href="https://easychair.org/conferences/?conf=soheal2019">EasyChair</a> and will be peer-reviewed.
  All accepted contributions will be presented during the workshop, but <b>only</b> position papers will be included in the proceedings. 
<ul>
  <li>
  <b>Position papers</b> of 6 to 8 pages (including figures, tables and references),
  should follow the <a href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">IEEE Conference Proceedings Formatting Guidelines</a>,
  with title in 24pt font and full text in 10pt type. LaTEX users must use \documentclass[10pt,conference]{IEEEtran} without including the compsoc or compsocconf option
  (conforming with the <a href="https://2019.icse-conferences.org/track/icse-2019-Technical-Papers#Call-for-Papers"> ICSE format</a>).
  All position papers should provide unpublished and original work that has not been previously accepted for publication nor concurrently submitted for review in another workshop, conference, journal or book.
  </li>
  
  <li><b>Talk proposals</b> of 1 to 2 pages reporting on practitioner's or industrial experience will be considered
    for presentation during the workshop, on the basis of an abstract of the talk and the author's biography.
  </li>
  
</ul>
</p>

<p>
  The official publication date of the workshop proceedings is the date the proceedings are made available in the IEEE Library. This date may be up to two weeks prior to the first day of ICSE 2019. The official publication date affects the deadline for any patent filings related to published work.
  If the submission is accepted, at least one author must register for the workshop to attend and present the paper.
</p>

<p>
  Topics for contributions include but are not limited to:
    <ul>
      <li>social, technical and business aspects of software health</li>
      <li>software health at the individual, team or community level</li>
      <li>software health at the software project or ecosystem level</li>
      <li>open source vs. industrial experiences with software health</li>
      <li>software health definition and modelling</li>
      <li>software health measurement and assessment</li>
      <li>qualitative or quantitative studies about software health</li>
      <li>prediction or recommendation models to predict health issues or improve health</li>
      <li>software health tools and dashboards (e.g. for analytics and visualization)</li>
    </ul>
</p>

<h2>Important dates</h2>
<ul>
  <li><b>Position paper submission deadline</b> 1 February, 2019</li>
  <li><b>Industry/practitioner talk proposal deadline</b> 15 February, 2019</li>
  <li><b>Notification of acceptance</b>: 1 March, 2019</li>
  <li><b>Camera Ready of accepted position papers</b>: 15 March, 2019</li>
  <li><b>Workshop</b>: 128 May, 2019</li>
</ul>

<p>
  <a href="{{ "assets/docs/SoHeal2019CFP.pdf"|relative }} ">PDF version of the CFP</a>.
</p>
{% endblock %}
