{% extends "_onecol.html" %}

{% block title %}Committees{% endblock %}

{% block body %}
<h2>Committees</h2>

<h3>Organizing Committee</h3>
<div class="row">
  <ul>
    <li>Bram Adams, Polytechnique Montreal, Canada</li>
    <li>Eleni Constantinou, University of Mons, Belgium</li>
    <li>Tom Mens, University of Mons, Belgium</li>
    <li>Kate Stewart, The Linux Foundation, USA</li>
    <li>Gregorio Robles, Universidad Rey Juan Carlos, Spain</li>
  </ul>
</div>
<div class="clearfix"></div>

<hr />
<h3>Program Committee</h3>
<div class="row">
    <ul>
      <li>Olga Baysal, Carleton University, Canada</li>
      <li>Kelly Blincoe, University of Auckland, New Zealand</li>
      <li>Marcelo Cataldo, Uber Advanced Technologies Group</li>
      <li>Amel Charleux, University of Montpellier, France</li>
      <li>Dawn Foster, Pivotal, UK</li>
      <li>Matt Germonprez, University of Nebraska Omaha, USA</li>
      <li>Sean Goggins, University of Missouri, USA</li>
      <li>Slinger Jansen, University of Utrecht, Netherlands</li>
      <li>Raula Gaikovina Kula, Osaka University, Japan</li>
      <li>Josianne Marsan, Laval University, Canada</li>
      <li>Wolfgang Mauerer, Siemens/OTH Regensburg, Germany</li>
      <li>Nicole Novieli, University of Bari, Italy</li>
      <li>Alexander Serebrenik, Eindhoven University of Technology, Netherlands</li>
      <li>Damian A. Tamburri, Politecnico di Milano, Italy</li>
      <li>Bogdan Vasilescu, Carnegie Mellon University, USA</li>
      <li>Marco Tulio Valente, Universidade Federal de Minas Gerais, Brazil</li>
      <li>Nick Veenhof, Dropsolid, Belgium</li>
      <li>Stefano Zacchiroli, University of Paris-Diderot, France</li>
      <li>Marcelo Zanetti, Universidade Federal de Santa Maria, Brazil</li>
      <li>Minghui Zhou, Peking University, China</li>
    </ul>
</div>
<div class="clearfix"></div>

{% endblock %}
