{% extends "_onecol.html" %}

{% block title %}Committees{% endblock %}

{% block body %}
<h2>Committees</h2>

<h3>Organizing Committee</h3>
<div class="row">
  <ul>
    <li>Eleni Constantinou, Eindhoven University of Technology, The Netherlands</li>
    <li>Dario Di Nucci, Vrije Universiteit Brussel, Belgium</li>
    <li>Raula Gaikovina Kula, Nara Institute of Science and Technology, Japan</li>
    <li>Henrique Rocha, University of Antwerp, Belgium</li>
  </ul>
</div>
<div class="clearfix"></div>

<hr />
<h3>Program Committee</h3>
<div class="row">
  <ul>
    <li>Bram Adams, Polytechnique Montreal, Canada</li>
    <li>Olga Baysal, Carleton University, Canada</li>
    <li>Alexandre Bergel, University of Chile, Chile</li>
    <li>Kelly Blincoe, University of Auckland, New Zealand</li>
    <li>Marcelo Cataldo, Google, United States</li>
    <li>Amel Charleux, University of Montpellier, France</li>
    <li>Valerio Cosentino, Bitergia, Spain</li>
    <li>Serge Demeyer, University of Antwerp, Belgium</li>
    <li>Coen De Roover, Vrije Universiteit Brussel, Belgium</li>
    <li>Slinger Jansen, Utrecht University, The Netherlands</li>
    <li>Josianne Marsan, Laval University, Canada</li>
    <li>Wolfgang Mauerer, Siemens/OTH Regensburg, Germany</li>
    <li>Patrick Marois, Université Laval, Canada</li>
    <li>Tom Mens, University of Mons, Belgium</li>
    <li>Nicole Novielli, University of Bari, Italy</li>
    <li>Gregorio Robles, Universidad Rey Juan Carlos, Spain</li>
    <li>Antonino Sabetta, SAP Security Research, France</li>
    <li>Alexander Serebrenik, Eindhoven University of Technology, The Netherlands</li>
    <li>Kate Stewart, Linux Foundation, United States</li>
    <li>Damian Tamburri, Eindhoven University of Technology, The Netherlands</li>
    <li>Adam Thornhill, Empear, Sweden</li>
    <li>Marco Tulio Valente, Universidade Federal de Minas Gerais, Brasil</li>
    <li>Bogdan Vasilescu, Carnegie Mellon University, United States</li>
    <li>Stefano Zacchiroli, University of Paris-Diderot, France</li>
    <li>Marcelo Zanetti, Universidade Federal de Santa Maria, Brasil</li>
    <li>Minghui Zhou, Peking University, China</li>
  </ul>
</div>
<div class="clearfix"></div>

{% endblock %}
