{% extends "_onecol.html" %}

{% block title %}Committees{% endblock %}

{% block body %}
<h2>Committees</h2>

<h3>Organizing Committee</h3>
<div class="row">
  <ul>
    <li>Gemma Catolino, Tilburg University - Jheronimus Academy of Data Science, 's-Hertogenbosch - The Netherlands</li>
    <li>Ahmed Zerouali, Vrije Universiteit Brussel, Brussels - Belgium</li>
    <li>Jesus Gonzalez-Barahona, Universidad Rey Juan Carlos, Madrid - Spain</li>
    <li>Slinger Jansen, Universiteit Utrecht, Utrecht - The Netherlands</li>
    <li>Manuel De Stefano, University of Salerno - Italy (Publicity Chair)</li>

  </ul>
</div>
<div class="clearfix"></div>

<hr />
<h3>Program Committee</h3>
<div class="row">
  <ul>
    <li>Rabe Abdalkareem (Queen's University - CA)</li>
    <li>Bram Adams (Polytechnique Montreal, CA)</li>    
    <li>Valerio Cosentino (Smart Protection, ES)</li>
    <li>Eleni Constantinou (TU Eindhoven, NL)</li>
    <li>Coen De Roover (Vrije Universiteit Brussel, BE)</li>
    <li>Alexandre Decan (University of Mons, BE)</li>
    <li>Serge Demeyer (University of Antwerp, BE)</li>
    <li>Dario Di Nucci (Tilburg University, NL)</li>
    <li>Fatemeh Fard (University of British Columbia, CA)</li>
    <li>Filomena Ferrucci (University of Salerno, IT)</li>
    <li>Daniel Izquierdo (Bitergia, Spain - CHAOSS Member)</li>
    <li>Raula Gaikovina Kula (Nara Institute of Science and Technology, JP)</li>
    <li>Matt Germonprez (University of Nebraska, US - CHAOSS Member)</li>
    <li>Zainab Masood (University of Auckland, NZ)</li>
    <li>Tom Mens (University of Mons, BE)</li>
    <li>Nicole Novielli (University of Bari, IT)</li>
    <li>Ayushi Rastogi (Delft University of Technology, NL)</li>
    <li>Gregorio Robles (Universidad Rey Juan Carlos, ES)</li>
    <li>Alexander Serebrenik (TU Eindhoven, NL)</li>
    <li>Kate Stewart (Linux Foundation, US - CHAOSS Member)</li>
    <li>Damian Tamburri (TU Eindhoven, NL)</li>
    <li>Stefano Zacchiroli (University of Paris-Diderot, FR)</li>
  </ul>
</div>
<div class="clearfix"></div>

{% endblock %}
