{% extends "_twocols.html" %}

{% block body %}
  <h2>Welcome to the 4th International Workshop on Software Health in Projects, Ecosystems and Communities</h2>
  <h4>VIRTUAL (originally Madrid, Spain) - May 28th, 2021 - co-located with 43rd International Conference on Software Engineering (<a href="https://conf.researchr.org/home/icse-2020" target="_blank"><b>ICSE 2021</b></a>)</h4>

  <img class="location-picture" src="{{ "assets/pictures/madrid.jpg"|relative }}" />

  <p>
Factors impacting <b>software health</b> vary substantially depending on the viewpoint of the involved stakeholders: <i>software quality</i> attributes concern the source code artefacts, <i>social factors</i> concern the community of contributors maintaining the software artefacts and <i>business and legal factors</i> concern commercial aspects of the software product. Because of this variety, there cannot be a unique definition of what constitutes software health, since it encompasses many different developments and evolution attributes, including success, longevity, growth, resilience, survival, diversity, sustainability, license compatibility, etc.
  </p>

  <p>
    As can be witnessed by recent initiatives such as the Linux Foundation's <a href="https://chaoss.community/">CHAOSS project</a> on community health analytics, and the <a href="https://secoassist.github.io/">SECO-ASSIST</a> research project realized the need for <b>socio-technical perspectives</b> concerning software health in <b>projects, ecosystems and communities</b>. Such perspectives are challenging, due to the volatile storage of information regarding social relations, conflicts and interactions. There is a need to find better methods, techniques and tools to monitor software health, as well as to predict and take corrective measures when health implications arise. SoHeal 2021 will have a special focus on software ecosystem health on which these issues are more pronounced. Due to the socio-technical dimension of <b>software ecosystems</b>, measuring their health, identifying the issues, and fixing them is particularly challenging.
  </p>

  <p>
    <b>SoHeal</b> aims to enable and promote collaboration between academia and industry, unifying the <b>views on software health of researchers and practitioners</b>. The workshop's goals are to: (i) raise awareness of practitioners' problems with software health; (ii) familiarize practitioners with the progress made by academia; and (iii) connect the two communities to advance the body of knowledge and the state of practice.
  </p>

<h2>Important dates</h2>
<ul>
  <li><b>Position paper submission deadline</b>: 12 January 2021</li>
  <li><b>Industry/Practitioner talk proposal deadline</b>: 12 January 2021</li>
  <li><b>Notification of acceptance</b>: 22 February 2021</li>
  <li><b>Camera Ready for accepted position papers</b>: 12 March 2021</li>
  <li><b>Workshop</b>: 28 May 2021</li>
</ul>

<!-- <h2>Registration</h2>
To be announced
 -->
{% endblock %}

{% block sidebar %}
<h2>Latest Tweets</h2>
<a class="twitter-timeline" width="400" height="500" href="https://twitter.com/iw_soheal?ref_src=twsrc%5Etfw">Tweets by iw_soheal</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}
