{% extends "_onecol.html" %}

{% block title %}Program{% endblock %}

{% block body %}
<h2>(Preliminary) Program</h2>

July 3, 07:00-16:00 UTC <br/>

<table border="0">
  <thead>
    <th> UTC Time </th> 
    <th> </th>
    <th align="left"> Session </th>
  </thead>
  
  <tr>
    <td align="center"> 07:00 </td> <td>&nbsp;</td> <td> Introduction by the Workshop Chairs </td>
  </tr>
  <tr>
    <td align="center"> 07:15 </td> <td>&nbsp;</td> <td> Introduction of Participants </td>
  </tr>
  <tr>
    <td align="center"> 07:30 </td> <td>&nbsp;</td> <td> <b>Keynote</b> (50 min+10 min) </td>
  </tr>

  <tr> <td colspan="3"> </td> </tr>
  <tr>
    <td align="center"> 08:30 </td> <td>&nbsp;</td> <td> Virtual Coffee Break </td>
  </tr>
  <tr> <td colspan="3">  </td> </tr>
  
  <tr>
    <td align="center"> 08:50 </td> <td>&nbsp;</td> <td> <b> First Session </b> </td>    
  </tr>
  <tr> <td colspan="2"> </td>
    <td> 
         08:50 - On the Variations and Evolutions of API Usage Patterns: Case Study on Android Applications <br/>
         09:20 - How Magic Is Zero? An Empirical Analysis of Initial Development Releases in Three Software Package Distributions <br/>
         09:50 - Towards A Dependency-Driven Taxonomy of Software Types <br/>
         10:20 - Characterizing outdateness with technical lag: an exploratory study <br/>
    </td>
  </tr>
  
  <tr> <td colspan="3"> </td> </tr>
  <tr>
    <td align="center"> 10:50 </td> <td>&nbsp;</td> <td> Lunch Break </td>
  </tr>
  <tr> <td colspan="3"> </td> </tr>
    
  <tr>
    <td align="center"> 12:00 </td> <td>&nbsp;</td> <td> <b> Second Session</b> </td>    
  </tr>
  <tr> <td colspan="2"> </td>
    <td> 
    	12:00 - A first look at an emerging model of community organizations for the long-term maintenance of ecosystems’ packages<br/>
    	12:30 - Splicing Community Patterns and Smells: A Preliminary Study<br/>
    	13:00 - The influence of technical variety in software ecosystems<br/>
    </td>
  </tr>
  
  <tr> <td colspan="3"> </td> </tr>
  <tr>
    <td align="center"> 13:30 </td> <td>&nbsp;</td> <td> Virtual Coffee Break </td>
  </tr>
  <tr> <td colspan="3"> </td> </tr>
    
  <tr>
    <td align="center"> 13:50 </td> <td>&nbsp;</td> <td> <b> Third Session</b>  </td>    
  </tr>
  <tr> <td colspan="2"> </td>
    <td> 
    	13:50 - Mutant Density: A Measure of Fault-Sensitive Complexity<br/>
    	14:20 - Automatic library categorization<br/>
    	14:50 - Cross-distribution Feedback in Software Ecosystems<br/>
    	15:20 - A Framework for Software Health Management using Bayesian Statistics<br/>
    </td>
  </tr>

  <tr> <td colspan="3"> </td> </tr>
  <tr>
    <td align="center"> 15:50 </td> <td>&nbsp;</td> <td> <b>Closing</b> (10 min) </td>
  </tr>

</table>



<h2>Accepted Papers</h2>

<ul>
    <li>
        Towards A Dependency-Driven Taxonomy of Software Types<br />
        <i>Andrea Capiluppi and Nemitari Ajienka</i>
    </li>
    <li>
        How Magic Is Zero? An Empirical Analysis of Initial Development Releases in Three Software Package
        Distributions<br />
        <i>Alexandre Decan and Tom Mens</i>
    </li>
    <li>
        Splicing Community Patterns and Smells: A Preliminary Study<br />
        <i>Manuel De Stefano, Fabiano Pecorelli, Damian Andrew Tamburri, Fabio Palomba, and Andrea De Lucia</i>
    </li>
    <li>
        A first look at an emerging model of community organizations for the long-term maintenance of ecosystems'
        packages<br />
        <i>Théo Zimmermann</i>
    </li>
    <li>
        A Framework for Software Health Management using Bayesian Statistics<br />
        <i>Yuning He and Johann Schumann</i>
    </li>
    <li>
        The influence of technical variety in software ecosystems<br />
        <i>Tom Peirs, Freark Westra, Slinger Jansen, and Sabine Molenaar</i>
    </li>
    <li>
        Automatic library categorization<br />
        <i>Camilo Velázquez-Rodríguez and Coen De Roover</i>
    </li>
    <li>
        Characterizing outdateness with technical lag: an exploratory study<br />
        <i>Jesus M. Gonzalez-Barahona</i>
    </li>
    <li>
        Mutant Density: A Measure of Fault-Sensitive Complexity<br />
        <i>Ali Parsai and Serge Demeyer</i>
    </li>
    <li>
        On the Variations and Evolutions of API Usage Patterns: Case Study on Android Applications<br />
        <i>Koki Ogasawara, Tetsuya Kanda, and Katsuro Inoue</i>
    </li>

    <p>
        <br/>
        The detailed program of the workshop will follow soon.
    </p>
</ul>

{% endblock %}
