{% extends "_onecol.html" %}

{% block title %}Program{% endblock %}

{% block body %}
<h2>Program</h2>

<h3>Invited keynote: Can software be healthy?</h3>

<p>
<b>Abstract:</b>
Health, as a metaphor, is often applied to software. At first sight, it
is a tempting one. Everyone would like its software, or the projects
producing it, to be healthy. If some project is not healthy, something
is wrong with it, and maybe whatever is wrong can be detected and
fixed. This leads to the idea that software health, or indicators of
being healthy, could be monitored, and policies to increase the health
of a project be put in place and tracked.<br/>

However, to which extent the "health" metaphor can be applied to
software? What does it mean for some software, or for the project
producing it, to be "healthy"? In fact, the health metaphor seems to
imply that there is some ideal state in which every software should be.
If they are not in it, well, they are ill, and should take measures to
be healed. But how can we define this ideal state? And if we could,
  does it correspond to some real case?<br/>

The talk will explore this path, by comparing software health (or
software project health) with the concept of software quality, and
software project quality, and quality models. By focusing on FOSS
(free, open source software), where many quality models for projects
have been proposed, we will explore if we can learn some lessons that
could be useful when discussing software health. Based on them, we will
try to answer the question "what does it mean to be healthy?" for
software and software projects.
</p>

<p>
  <b>Bio:</b>
  <a href="mailto:jgb@gsyc.es">Jesus Gonzalez-Barahona</a> [<a href="http://gsyc.es/~jgb">homepage</a> | <a href="http://twitter.com/jgbarah">twitter</a>]
  is involved in the <a href="https://bitergia.com">Bitergia company</a> focusing on software development analytics.
  He is also a full professor in software engineering at the <a href="https://www.urjc.es">Universidad Rey Juan Carlos</a> in Madrid (Spain),
  where he is leading the <a href="http://www.libresoft.info">LibreSoft research group</a>, focused on libre software and open collaboration in different areas such as software engineering, mobile technologies, virtual communities and e-learning.
He is an active member of the Linux Foundation's <a href="https://chaoss.community">CHAOSS community</a> focusing on community health analytics of open source software.
</p>

{% endblock %}
