{% extends "_onecol.html" %}

{% block title %}Program{% endblock %}

{% block body %}
<h2>(Preliminary) Program</h2>

<p>All the times are in UTC format - <a href="https://www.worldtimebuddy.com/">https://www.worldtimebuddy.com/</a></p>

<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="time" scope="col" style="width: 10%">Time</th>
                    <th scope="col" style="width: 40%">Talk</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7:00 - 7:30<br /><a href="https://tilburguniversity.zoom.us/j/98107880767?pwd=azFQMFVnLzYreDA0VDNSVXR5YXM1Zz09">(Zoom Link)</a></td>
                    <td>Introduction by the Chairs</td>
                </tr>
                <tr>
                    <td>7:30 - 8:30<br />Chair: Dario Di Nucci<br /><a href="https://tilburguniversity.zoom.us/j/98107880767?pwd=azFQMFVnLzYreDA0VDNSVXR5YXM1Zz09">(Zoom Link)</a></td>
                    <td><a href="https://upsilon.cc/~zack/" target="_blank">Stefano Zacchiroli</a>'s Keynote - Université de Paris and Inria, France<br />Global Software Health: an Unified View of how our Software Commons is Doing</td>
                </tr>
                <tr>
                    <td>8:50 - 10:50<br />Chair: Raula Gaikovina Kula<br /><a href="https://tilburguniversity.zoom.us/j/93740384986?pwd=a3djcGU4NENTRlluUWxaSFhwR2s4UT09">(Zoom Link)</a></td>
                    <td>
                        <div class="accordion" id="sessionOne">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            First Session
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#sessionOne">
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>8:50<br />9:20</td>
                                                    <td>On the Variations and Evolutions of API Usage Patterns: Case Study on Android Applications</td>
                                                    <td>Koki Ogasawara<br />Tetsuya Kanda<br />Katsuro Inoue</td>
                                                </tr>
                                                <tr>
                                                    <td>9:20<br />9:50</td>
                                                    <td>How Magic Is Zero? An Empirical Analysis of Initial Development Releases in Three Software Package Distributions</td>
                                                    <td>Alexandre Decan<br />Tom Mens</td>
                                                </tr>
                                                <tr>
                                                    <td> 9:50<br />10:20</td>
                                                    <td>Towards A Dependency-Driven Taxonomy of Software Types</td>
                                                    <td>Andrea Capiluppi<br />Nemitari Ajienka</td>
                                                </tr>
                                                <tr>
                                                    <td>10:20<br />10:50</td>
                                                    <td>Characterizing outdateness with technical lag: an exploratory study</td>
                                                    <td>Jesus M. Gonzalez-Barahona</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>12:00 - 13:30<br />Chair: Henrique Rocha<br /><a href="https://tilburguniversity.zoom.us/j/99133245570?pwd=M3ZPY01OMzNGT0c1Ym1kd2s4TlZ4Zz09">(Zoom Link)</a></td>
                    <td>
                        <div class="accordion" id="sessionTwo">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                            Second Session
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#sessionTwo">
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>12:00<br />12:30</td>
                                                    <td>A first look at an emerging model of community organizations for the long-term maintenance of ecosystems’ packages</td>
                                                    <td>Théo Zimmermann</td>
                                                </tr>
                                                <tr>
                                                    <td>12:30<br />13:00</td>
                                                    <td>Splicing Community Patterns and Smells: A Preliminary Study</td>
                                                    <td>Manuel De Stefano<br />Fabiano Pecorelli<br />Damian Andrew Tamburri<br />Fabio Palomba<br />Andrea De Lucia</td>
                                                </tr>
                                                <tr>
                                                    <td>13:00<br />13:30</td>
                                                    <td>The influence of technical variety in software ecosystems</td>
                                                    <td>Tom Peirs<br />Freark Westra<br />Slinger Jansen<br />Sabine Molenaar</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13:50 - 15:50<br />Chair: Eleni Constantinou<br /><a href="https://tilburguniversity.zoom.us/j/97041811031?pwd=dVNFVFVLaHhsUEdZS0RPUnBLTzUxZz09">(Zoom Link)</a></td>
                    <td>
                        <div class="accordion" id="sessionThree">
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="true"
                                            aria-controls="collapseThree">
                                            Third Session
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#sessionThree">
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>13:50<br />14:20</td>
                                                    <td>Mutant Density: A Measure of Fault-Sensitive Complexity</td>
                                                    <td>Ali Parsai<br />Serge Demeyer</td>
                                                </tr>
                                                <tr>
                                                    <td>14:20<br />14:50</td>
                                                    <td>Automatic library categorization</td>
                                                    <td>Camilo Velázquez-Rodríguez<br />Coen De Roover</td>
                                                </tr>
                                                <tr>
                                                    <td>14:50<br />15:20</td>
                                                    <td>Cross-distribution Feedback in Software Ecosystems</td>
                                                    <td>Armstrong Foundjem</td>
                                                </tr>
                                                <tr>
                                                    <td>15:20<br />15:50</td>
                                                    <td>A Framework for Software Health Management using Bayesian
                                                        Statistics</td>
                                                    <td>Yuning He<br />Johann Schumann</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>15:50 - 16:00<br /><a href="https://tilburguniversity.zoom.us/j/97041811031?pwd=dVNFVFVLaHhsUEdZS0RPUnBLTzUxZz09">(Zoom Link)</a></td>
                    <td>Closing</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
