{% extends "_onecol.html" %}

{% block title %}Steering Committee{% endblock %}

{% block body %}
<h2>Special Issue on "Software Health of Software Ecosystems"</h2>

<p><b>SoHeal 2020</b> featured a Special Issue on “Software Health of Software Ecosystems” in <a href="https://www.journals.elsevier.com/science-of-computer-programming" target="_blank">Science of Computer Programming</a>.
</p>

<p>The special issue invites submissions on new and innovative research results and industrial experience papers in the area of software health for software ecosystems that deal with all the aspects of the problem described in the <a href="cfp.html">call for the papers</a> of the workshop.

<h3>Important dates</h3>

<ul>
<li>Submission Deadline: <strike>October 25, 2020.</strike></li>
<li>Initial Author Notification: January 18, 2021.</li>
<li>Initial Author Revision Due: April 19, 2021.</li>
<li>Final Author Notification July 19, 2021.</li>
<li>Final Manuscript Submission: August 2, 2021.</li>
</ul>

Further information and the manuscript guidelines can be found <a href="https://www.journals.elsevier.com/science-of-computer-programming/call-for-papers/special-issue-on-software-health-of-software-ecosystems" target="_blank">here</a>.

</div>
<div class="clearfix"></div>


{% endblock %}
