{% extends "_onecol.html" %}

{% block title %}Steering Committee{% endblock %}

{% block body %}
<h2>Steering Committee</h2>
<div class="row">
  <ul>
    <li>Bram Adams, Polytechnique Montreal, Canada (2019-today)</li>
    <li>Eleni Constantinou, Eindhoven University of Technology, Netherlands (2020-today)</li>
    <li>Tom Mens, University of Mons, Belgium (2019-today)</li>
    <li>Gregorio Robles, Universidad Rey Juan Carlos, Spain (2019-today)</li>
  </ul>
</div>
<div class="clearfix"></div>


{% endblock %}
